@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.image-card {
  transition: all 0.3s ease;
}

.image-card:hover {
  transform: scale(1.02);
}

.masonry-grid {
  display: flex;
  margin-left: -1rem;
  width: auto;
}

.masonry-grid-column {
  padding-left: 1rem;
  background-clip: padding-box;
}

.image-cover {
  object-fit: cover;
  transition: object-fit 0.3s ease;
}

.image-contain {
  object-fit: contain;
  transition: object-fit 0.3s ease;
}

.image-card:hover .image-cover {
  object-fit: contain;
}

.blur-background {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
}